h1 {
    border: 5px solid black;
  margin-top: 25px;
  margin-bottom: 50px;
  margin-right: 300px;
  margin-left: 300px;
  background-color: lightblue;
  text-align: center;
  font-family: 'Bungee Shade';font-size: 40px;
}
ul {
    list-style-type: none;
    margin: 50px;
    padding: 15px;
    overflow: hidden;
    background-color: #333;
    font-family: 'Audiowide';font-size: 20px;
  }
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 40px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #008d6e;
}
h2{
    border: 5px solid black;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-right: 50px;
    margin-left: 50px;
    background-color: lightblue;
    text-align: left;
    font-family: 'Bungee Shade';font-size: 20px;
    padding: 0px 20px;
}
p{
    background-color: rgb(18, 44, 66);
    color: aliceblue;
    margin-left: 50px;
    margin-right: 50px;
}
body{
  background-image: url(gala.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 350px;
  margin-left: 50px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  background-color: rgb(15, 184, 99);
  padding: 15px;
  text-align: center;
}
footer {
  text-align: center;
  padding: 3px;
  background-color: rgb(39, 231, 199);
  color: rgb(0, 0, 0);
  margin-left: 50px;
  margin-right: 50px;
}